@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-principal: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 40vh; */
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}
.titulo {
    font-size: 150%;
    font-family: var(--fonte-principal);
}
.linkBotao{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0.6rem;
    border: 0.3rem solid var(--cor-terciaria);
    text-align: center;
    flex-direction: row;
    border-radius: 0.7rem;
    font-size: 1.3rem;
    padding: 1.5rem 0; 
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.linkBotao:hover{
    background-color: #272727;
}
.ImagensWordProgess{
    width: 50%;}
.Botao{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-direction: row;
    align-items: center;
}
.ImagensLinguagens{
    width: 30%;
}.ImagensRedes{
    width: 10%;
}
.rodape{
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--cor-terciaria);
    color: black;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media(max-width: 1100px){
    .apresentacao{
        padding: 4%;
        flex-direction: column-reverse;
    }
    .cabecalho{
        padding: 6%;
    }
    .texto{
        width: auto;
    }
    .cabecalho__menu{
        justify-content: center;
    }
}
.cabecalho__menu{
    display: flex;
    gap: 5rem;
}
.cabecalho{
    padding: 2% 0 0 10%;
}

.cabecalho__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 37.5rem;
    color: var(--cor-terciaria);  
    text-decoration: none;  
}
.principal{
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}
.paragrafo{
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
}
.projeto_imagem{
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.FormDesafio1{
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    border: 0.3rem solid var(--cor-terciaria);
    text-align: center;
    border-radius: 0.7rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}